@import url("https://use.typekit.net/jmk3xov.css");

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.parallel-columns {
  column-count: 2; /* Split the text into two columns */
  column-gap: 0px; /* Set the gap between columns */
  /*column-rule: 1px solid #ccc;  Add a border between columns */
}

select {
  font-size: 1.15rem;
  font-family: inherit;
  line-height: inherit;
  padding-left: 1rem;
}

input[type="file"] {
  display: none;
}

select,
#file-input-label {
  padding: 0.5em;
  border: thin solid grey;
  border-radius: 3px;
  cursor: pointer;
  background-color: #070707;
}

#language-select{
  background-color: #f6f6fb;
}

#input-container {
  margin-top: 2rem;
}

#input-container div {
  display: inline-block;
  margin-right: 1rem;
}

#loading,
#error {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

#loading {
  display: none;
}

section + section,
section:first-child {
  max-width: 800px; /* Maximum width of the section container */
  margin: 0 auto; /* Center the section container horizontally */
  padding: 20px; /* Add some padding to the section container */
}

pre {
  font-family: Arial, sans-serif;
  margin: 0;
}

#tes {
  display: none;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}



  header {
    background: var(--dark-bg);
    grid-column: 2 / span 5;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
  }

  section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    color: black;
    font-size: 4rem;
    display: inline;
    line-height: 1;
  }

  .left {
    grid-column: 6 / 12;
  }